/* loginOdontologa.css */

.odontologa-scope.login-screen {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Degradado Morado suave */
  background: linear-gradient(180deg, #f8f5ff 0%, #f0e9ff 100%);
}

.odontologa-scope .icon-circle.purple {
  background-color: #a855f7; /* Color Morado */
}

.odontologa-scope .login-title {
  color: #6b21a8;
}

.odontologa-scope .login-btn {
  background-color: #a855f7;
}

.odontologa-scope .login-btn:hover {
  background-color: #9333ea;
}

.odontologa-scope .toggle-password:hover {
  color: #a855f7;
}